.login {
  margin-top: 50px;
  margin-left : auto ;
  margin-right : auto ;
  width: 200px;
}

.login_title {
  text-decoration: underline;
}

.account-create {
  margin-top: 30px;
}

a:hover {
  font-weight: bold;
}